* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;
}

:root {
    --color-vanilla:#f4f1de;
    --color-red:#e07b5fb8;
    --color-bluemarine:#3d405b;
    --color-green:#81b29a;
    --color-blue:#2a8ce3a3;
    --color-gold:#f2cc8f;
    --color-pinkie:#f4dbde;
    --color-grey:#e4dcdf;
    --color-extra-grey: #f5f1f1;
    --color-violet:#c7bed7;
    --font-color:var(--color-bluemarine);
    --font-2:'Paralines-Regular';
    --font-1:'Thunderstorm';  
}

@font-face {
    font-family: 'Paralines-Regular';src:url(./fonts/Paralines-Regular.otf)format(otf);font-weight: normal;font-style: normal;
}
@font-face { 
    font-family: 'Thunderstorm';src:url(./fonts/Thunderstorm.otf)format(otf);font-weight: normal; font-style: normal;
}

.navbar > div, footer, header {
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}

.newsletter-container > div, label, form {
    background-color: var(--color-green);
}

.advertising-gallery, .style-gallery, button {
    background-color: var(--color-red);
}

main {
    background-color: var(--color-pinkie);
}

h1,h2,h3,h4,a,label {
    color:var(--font-color);
    letter-spacing: 2px;
    text-decoration: none;
}

header {
    display: flex;
    width: 100%;
    height: 160px;
    align-items: center;
    border-bottom: 1px solid rgb(218, 218, 225);
}

#intro {
    width: 100%;
}

#intro > div {
    display: flex;
    width: 50%;
}

.navbar {
    display: flex;
    text-align: center;
}

.main-nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.main-nav > div {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
   
}

.main-nav > div > a {
    text-decoration: none;
    padding: 0 12px 0 12px;
    color: rgb(56, 54, 54);
    font-family:var(--font-2);
    letter-spacing: 3px;
}

.icon, #chkToggle {
    display: none;
}

#menu-icon:checked + .main-nav {
    display: none;
  }
  
#menu-icon:checked + .menu-icon {
    display: block;
  }

.main-nav > div {
    padding: 20px;
}

.main-nav > .menu1 {
    background-color: var(--color-violet); 
}

.main-nav > .menu2 {
    background-color: var(--color-gold);  
}

.main-nav > .menu3 {
    background-color: var(--color-blue);   
}

.main-nav > .menu4 {
    background-color: var(--color-green);  
}

.main-nav > .menu5 {
    background-color: var(--color-red);
}

.brand-presentation {
    display: flex;
    align-items: center;
}

.brand-presentation > div {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: white;
    border-bottom: 0.5px solid var(--color-grey);
}

.paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 0 2em 0 2em;
    width: 33%;
}

.paragraph > p {
    font-family: Verdana, Tahoma, sans-serif;
    font-style: italic;
    font-size: 18px;
    color: rgb(51, 50, 50);
}

.brand1 {
    width: 33%;
    object-fit: cover;
}

.brand2 {
    transform: scaleX(-1);
    width: 33%;
    object-fit: cover;
}

#filters {
    background-color: var(--color-pinkie);
    width: 20%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

select, button:hover {
    cursor: pointer;
}

select, input {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: var(--color-vanilla);
}
#input-Price-Id {
    width: 100%;
}

#products {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    flex-direction: column;
    background-color: var(--color-pinkie)
}

.productsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--color-pinkie);
    justify-content: space-around;
    
}

.eachProduct {
    width: 25%;
    padding-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-self: baseline;
    background-color: white;
    border: 1px solid var(--color-extra-grey);
    border-radius: 20px;
   
}

#seeDetails {
    display: flex;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
    border: 1px solid var(--color-extra-grey);
    border-radius: 10px;
}

#seeDetails > div > img { 
    width: 80%;
    object-fit: contain;
    border-radius: 10px;
}

.divImgCard, .productDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

button:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.2s;
    background-color: var(--color-green);
    color: white;
}
button {
    width: 150px;
    margin-bottom: 20px;
    background-color: var(--color-red);
}

#closeButton {
    width: 100px;
    height: 70px;
    padding: 20px;
    
}


.imgContainer {
    display: flex;
    flex-direction: column;
}

.imgContainer > img {
    width: 200px;
    height: 200px; 
    object-fit: contain;  
}


#advertising, #style {
    position: relative;
    display: flex;
    width: 100%;
    padding: 2em 0;
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}

.advertising-gallery, .style-gallery {
    position: relative;
    display: flex;
    overflow-x: scroll;
    padding: 10px 0 10px 0;
    gap: 0.5em;
}

.galleryPic, .stylePic {
    width: 220px;
    height: 320px;
}

h1 {
    font-family: var(--font-1);
    letter-spacing: 10px;
    color: transparent;
    font-size: 40px;
    color: var(--color-bluemarine);
}

h2 {
    font-family: var(--font-1);
    font-size: 25px;
}

h3 {
    font-size: 20px;
    font-family: var(--font-2);
}

a {
    font-size: 12px;
}

a:hover {
    cursor: pointer;
}

p {
    font-size: 14px;
    color: var(--color-red);
    padding: 0 1.5em 0 1.5em;
    margin-bottom: 10px;
}

.newsletter-container {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    padding: 3em 2em 3em 2em;
    border-top: 1px solid rgb(218, 218, 225);
    border-bottom: 1px solid rgb(218, 218, 225);
    background-color: var(--color-pinkie);
}

.newsletter-container > div {
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 10px;
    width: 68%;
    height: 200px;
    padding: 40px;  
}

form {
    display: flex;
    text-align: center;
    flex-direction: column; 
    align-items: center;
    border-radius: 10px;
}

label {
    font-family: var(--font-2);
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}

input {
    width: 250px;
    margin-bottom: 20px;
}

button {
    padding: 1em;
    border-radius: 5px;
}

.borrarFiltros {
    background-color: var(--color-green);
}


footer {
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: white;
    
}


footer > div, video {
    width: 33%;
    height: 150px;
    object-fit: cover;
}

.help {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 10px 0 10px;
    
}

.rr-ss {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}








@media screen and (max-width:480px) {

    header {
        height: 120px;
    }

    h1 {
        font-size: 16px;
    }

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 13px;
    }

    p {
        font-size: 10px;
    }

    #intro {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }

    #intro > div {
        display: flex;
        width: 100%;
        gap: 1em;
        text-align: center;
        align-items: center;
        height: 120px;
    }

    #intro > div > img {
        width: 120px;
        height: 120px;
    }

    .navbar {
        padding: 0 2em 0 3em;
    }

    .main-nav > div > a {
        color: white;
        font-size: 14px;
    }

    .main-nav {
        position: absolute;
        z-index: 1;
        top: 120px;
        right: 20px;
        display: none;
        border: 1px solid var(--color-bluemarine);
    }

    .main-nav:checked {
        width: 50%;
        height: 300px;
    }


    .menu-toggle {
        position: absolute;
        top: 24px;
        right: 20px;
        cursor: pointer;
        border: 1px solid var(--color-bluemarine);
    }

    .icon {
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
      
    #chkToggle {
        display: none;
    }

    #chkToggle:checked +.main-nav {
        display: block;
    }

    .brand1 {
        display: none;
    }
    
    .brand-presentation > div {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .paragraph, .brand2 {
        width: 100%;
        padding: 1em;
    }

    .paragraph > p {
        font-size: 10px;
        padding: 0 0.5em ;
    }

    .imgContainer > img {
        object-fit: contain;
    }

    #filters {
        background-color: var(--color-pinkie);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding: 8px 5px;
    }

    #input-Price-Id {
        height: 20px;
        margin: 0;
        padding: 0;
    }

    .buscarPrecio, .borrarFiltros {
        width: 40%;
        font-size: 8px;
        margin: 10px;
    }

    select {
        height: 3em;
        font-size: 8px;
    }

    #products {
        width: 100%;
        padding: 5px;
    }

    .eachProduct{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: flex-end;
    }
    #seeDetails {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        background-color: white;
    }

    .divImgCard {
        width: 50%;
        padding-bottom: 20px;
    }

    .newsletter-container {
        height: 230px;
    }

    .newsletter-container > div { 
        width: 100%; 
    }

    label {
        font-size: 16px;
    }

    button {
        padding: 5px;
    }
    #closeButton {

        width: 30px;
        height: 30px;
    }

    footer {
        display: block;
        width: 100%;
        padding: 0;
        bottom: 0;
    }

    footer > div {
        width: 100%;
    }
    footer > div > a {
        font-size: 8px;
    }
    
    .rr-ss {
        padding: 20px 0 20px 0;
        height: 80px;
    }

    .help {
        display: flex;
        align-items: center;
        height: 80px;
        flex-direction: row;
        justify-content: space-between;
        gap:10px;
    }

    video {
        width: 100%;
    }
}





@media screen and (min-width:481px) and (max-width:768px) {

    header {
        height: 170px;
    }

    #intro {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    #intro > div {
        width: 100%;
        flex-wrap: nowrap;
        text-align: center;
        justify-content: center;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 14px;
        position: absolute;
        top: 11px;
    }


    .navbar {
        position: absolute;
        top: 130px;
    }

    .main-nav > div {
        padding: 0;
    }
    
    .main-nav > div > a {
        font-size: 14px;
    }

    #chkToggle, .icon {
        display: none;
    }

    .paragraph {
        width: 50%;
    }

    .paragraph > p {
        font-size: 11px;
    }

    .brand1, .brand2 {
        width: 25%;
    }

    .imgContainer > img {
        object-fit: cover;  
    }

    .productsContainer {
        width: 100%;
        height: 100%;
        background-color: var(--color-pinkie);
    }

    #products {
        display: flex;
        width: 80%;
        padding: 1em;
        background-color: var(--color-pinkie);
        
   }
    .eachProduct{
        width: 100%;
    }

    .productDetails {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    #seeDetails {
        display: flex;
        flex-direction: row;
        width: 100%;
        border-radius: 10px;
        
    }
    

    #filters {
        background-color: var(--color-pinkie);
        width: 20%;
        display: flex;
        float: left;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding: 10px;
        gap:5px;
    }

    select {
        font-size: 10px;
    }

    .borrarFiltros, .buscarPrecio {
        width: 100%;
        padding: 2px;
    }

    #closeButton {
        width: 50px;
        height: 40px;
        margin: 20px;
    }

    .newsletter-container {
        height: 250px;
    }

    .newsletter-container > div { 
        width: 70%; 
    }

    .help > a {
        font-size: 12px;
        padding: 0 0 8px 0;
    }

    .rr-ss {
        gap: 17px;
    }

}






@media screen and (min-width:769px) and (max-width:1279px) {

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    a {
        font-size: 16px;
    }

    header {
        width: 100%; 
    }

    #chkToggle, .icon {
        display: none;
    }

    #intro {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5px;
        gap: 22px;
        
    }

    #intro > div {
        width: 35%;
        text-align: center;   
        align-items: center;
    }

    .main-nav > div {
        padding: 0;
    }

    .paragraph > p {
        font-size: 12px;
    }

    #filters {
        width: 20%;
    }
    .products {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        gap: 5px;
        text-align: center;
        padding: 2em 1em 2em 1em;
    }

    .productsContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-self: center;
        text-align: center;
    }

    .eachProduct {
        width: 50%;
    }

    .imgContainer > img { 
        object-fit: contain;  
    }

    .newsletter-container {
        height: 290px;
    }

    .newsletter-container > div { 
        width: 60%; 
    }

    .help > a {
        font-size: 12px;
        padding: 5px 0 5px 0;
    }
    
}





@media screen and (min-width:1280px) {

    a {
        font-size: 16px;
    }

    #chkToggle, .icon {
        display: none;
    }

    header {
        width: 100%;
        height: 180px;  
    }

    #intro {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%; 
    }

    #intro > div {
        width: 52%;
        align-items: center; 
        gap: 50px;
    }

    .navbar {
        padding: 30px;
    }
    
    .main-nav > div > a {
        font-size: 18px;
    }

    #products {
        width: 90%;
    }

    #filters {
        width: 10%;
    }

    .imgContainer > img {
        width: 320px;
        height: 320px; 
        padding: 1em; 
        object-fit: contain;  
    }


    .newsletter-container {
        height: 300px;
    }

    .newsletter-container > div { 
        width: 60%; 
    }

    h3,a {
        font-size: 16px;
    }

    h2 {
        font-size: 35px;
    }

}
